<template>
  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
         
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All Category</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>id</th>
                    <th>first file</th>
                    <th>secound file</th>
                    <th>third file</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(alldata, index) in allinputs" :key="index">
                    <td>{{ alldata.id }}</td>
                    <td><img :src="$image_path+ alldata.first_file" style="width:80px;"/></td>
                    <td><img :src="$image_path+ alldata.secound_file" style="width:80px;"/></td>
                    <td><img :src="$image_path+ alldata.third_file" style="width:80px;"/></td>
                    <td> 
                        <button class="btn btn-info">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              </div>
            <!-- /.card -->
             </div>
          <!-- /.col -->
           </div>
        <!-- /.row -->
        </div>
      <!-- /.container-fluid -->
    </section>
</template>
<script>
import axios from 'axios'
 export default {
     data(){
         return {
             allinputs:{},
         }
     },
    methods:{
        AllinputLoad(){
            axios.get(`http://127.0.0.1:8000/api/multiple`)
                .then(response => {
                console.log(response)
                this.allinputs = response.data;
            });
        }
    },
    mounted() {
       this.AllinputLoad();
   
    }, 
 }
</script>
