<template>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6 offset-2">
         
            <div class="card card-primary">
               <div class="card-header">
                <h3 class="card-title">Multiple file Add</h3>
                </div>
              <!-- /.card-header -->
              <!-- form start -->
            <form  @submit.prevent="fileUpload"  enctype="multipart/form-data">
                <div class="card-body">
                  
                    <div class="form-group">
                      <label for="image">First File input</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file"
                              v-on:change="onImageChange"
                              class="form-control"  
                              ref="inputFile1"
                              >  
                        </div>
                        <div class="input-group-append">
                          <span class="input-group-text" id="">Upload</span>
                        </div>
                      </div>
                    </div>  

                    <div class="form-group">
                      <label for="image">Secound File input</label>
                       <div class="input-group">
                       <div class="custom-file">
                       <input type="file"
                          v-on:change="onImageChange"
                           class="form-control"  
                           ref="inputFile2"
                           >  
                        </div>
                       <div class="input-group-append">
                       <span class="input-group-text" id="">Upload</span>
                     </div>
                    </div>
                    </div> 
                      <div class="form-group">
                      <label for="image">Third File input</label>
                       <div class="input-group">
                       <div class="custom-file">
                       <input type="file"
                          v-on:change="onImageChange"
                           class="form-control"  
                           ref="inputFile3"
                           >  
                        </div>
                       <div class="input-group-append">
                       <span class="input-group-text" id="">Upload</span>
                     </div>
                    </div>
                    </div>   
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>     
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
</template>
<script>
import axios from 'axios'
 export default {
     data(){
       return {
           first_file:'',
           secound_file:'',
           third_file:'',
       }
     },
     methods:{
        onImageChange(e){
            console.log(e.target.files[0]);
            this.first_file = e.target.files[0];
            this.secound_file = e.target.files[0];
            this.third_file = e.target.files[0];
        },
        fileUpload(e){
            e.preventDefault();            
            let currentObj = this;
            const config = {
              headers: { 'content-type': 'multipart/form-data' }
            }

            let formData = new FormData();

            formData.append('first_file', this.first_file);
            formData.append('secound_file', this.secound_file);
            formData.append('third_file', this.third_file);

            axios.post(' http://127.0.0.1:8000/api/multiple',formData,config)
            .then(function (response) {
              //currentObj.success = response.data.success;
              console.log(response.status);
              if(response.status === 201) {
                // console.log('image uploaded');          
                // this.$toast.success({ title:'Succss', message:'Upload Succesfully'})
                this.$refs.inputFile1.value = ''; 
                this.$refs.inputFile2.value = ''; 
                this.$refs.inputFile3.value = ''; 
              }
                        
            })
            .catch(function (error) {
                currentObj.output = error;
            });
          }

        }
     }
 
</script>