<template>
 <div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
         
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All Category</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>id</th>
                    <th>category Name</th>
                    <th>subcategory Name</th>
                    <th>description</th>
                    <th>status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(subcategory,index) in subcategories" :key="index">
                    <td>{{subcategory.id}}</td>
                    <td>{{subcategory.category.name}}</td>
                    <td>{{subcategory.subcategory_name}}</td>
                    <td>{{subcategory.description}}</td>
                    <td>{{subcategory.status}}</td>
                    <td>
                        <router-link :to="'editsubcategory/'+subcategory.id"   class="btn btn-success">edit</router-link>
                        <button @click.prevent="subcategorydelete(subcategory.id, index)" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

 </div>
</template>
<script>
import axios from 'axios'
export default {
  data(){
    return{
      subcategories:{},
    }
  },
  methods :{
    allsubCategoryLoad(){
      axios.get(`http://127.0.0.1:8000/api/subcategory`)
        .then((response)=>{
            //console.log(response.data)
            this.subcategories=response.data.data
        })
        .catch(()=>{
          console.log('failed');
        })
    },
    subcategorydelete(id, index){    
      console.log(id);
      axios.delete(`http://127.0.0.1:8000/api/subcategory/`+ id)
      .then(() => {
          this.$toast.success({
              title:'Success!',
              message:'Subcategory delete sucessfully.'
          });
          this.subcategories.splice(index, 1);
          this.categoryload();
      })
    },
  },  
  created(){
    this.allsubCategoryLoad();
  }
}
</script>
<style>

</style>