<template>
  <div class="col-lg-6 offset-3">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Subcategory Add</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <ValidationObserver v-slot="{ handleSubmit }" ref="createForm">
              <form role="form" id="quickForm" @submit.prevent="handleSubmit(UpdatesubCategory)">
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Subcategory Name</label>
                        <ValidationProvider name="subcategory" rules="required" v-slot="{ errors }">
                        <input type="text"
                        v-model="editSubData.subcategory_name"
                        class="form-control"
                        id="name" placeholder="Enter name"
                        >
                        <p style="color:red"><span>{{ errors[0] }}</span></p>
                        </ValidationProvider>
                    </div>
                    <div class="form-group">
                        <label for="cat">Category Name</label>
                        <ValidationProvider name="Category" rules="required" v-slot="{ errors }">
                        <select v-model="editSubData.category_id" class="form-control" id="cat">
                            <option disabled>Select Category</option>
                            <option v-for="(category, index) in categories" :key="index" :value="category.id" :selected="category.id === editSubData.category_id">{{ category.name+ "/ID/" +category.id }}</option>
                        </select>
                        <p style="color:red"><span>{{ errors[0] }}</span></p>
                        </ValidationProvider>
                    </div>
                
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <ValidationProvider name="Description" rules="required" v-slot="{ errors }">
                        <textarea 
                            class="form-control"
                            v-model="editSubData.description"                        
                            rows="3"
                            id="desc"
                            placeholder="Enter ...">
                        </textarea>
                        <p style="color:red"><span>{{ errors[0] }}</span></p>
                        </ValidationProvider>
                    </div>             
                
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
                </div>
              </form>
              </ValidationObserver>
            </div>
            <!-- /.card -->
            </div>
        
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
  </div>
</template>
<script>
import axios from 'axios'
export default {
    data(){
        return{
            categories:{}, 
            editSubData:{
                subcategory_name:'',
                category_id:'',
                description:'',
            } 
        }
    },

    mounted() {
        this.getEditSubcategory();
        this.getCategories();
    },

    methods:{
         UpdatesubCategory(){
            //  console.log(this.editSubData)
            const id = this.$route.params.id;
                axios.put(`http://127.0.0.1:8000/api/subcategory/` +id, this.editSubData)
                .then( response =>{
                //  this.categoryForm = response.data;
                console.log(response.data);  
                this.$toast.success({
                    title:'Success!',
                    message:'updated successfully.'
            });
        })
         this.$router.push('/Allsubcategory');
      },
        async getEditSubcategory(){
            let subcategory_id = this.$route.params.id; 
            await axios.get('http://127.0.0.1:8000/api/subcategory/'+ subcategory_id)
            .then((response) => {
                console.log(response.data.data);
                this.editSubData = response.data.data
            })
            .catch( error => {
                console.log(error);
            })
        },
        async getCategories(){
        await axios.get('http://localhost:8000/api/category')
        .then((response) => {
            this.categories = response.data
        })
        .catch (
            console.log('failed')
            )
        },
    }
}
</script>
<style>

</style>