<template>
  <div class="col-lg-6 offset-3">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Subcategory Add</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <ValidationObserver v-slot="{ handleSubmit }" ref="createForm">
              <form role="form" id="quickForm" @submit.prevent="handleSubmit(createSubCategory)">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Subcategory Name</label>
                    <ValidationProvider name="subcategory" rules="required" v-slot="{ errors }">
                    <input type="text"
                      v-model="SubCategoryform.subcategory_name"
                      class="form-control"
                      id="name" placeholder="Enter name"
                    >
                    <p style="color:red"><span>{{ errors[0] }}</span></p>
                    </ValidationProvider>
                  </div>
                    <div class="form-group">
                    <label for="cat">Category Name</label>
                      <ValidationProvider name="Category" rules="required" v-slot="{ errors }">
                      <select v-model="SubCategoryform.category_id" class="form-control" id="cat">
                      <option selected disabled>Select Category</option>
                      <option v-for="(category, index) in categories" :key="index" :value="category.id">{{ category.name }}</option>
                    </select>
                      <p style="color:red"><span>{{ errors[0] }}</span></p>
                    </ValidationProvider>
                  </div>
                
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <ValidationProvider name="Description" rules="required" v-slot="{ errors }">
                        <textarea 
                        class="form-control" v-model="SubCategoryform.description"                        
                          rows="3"
                          id="desc"
                          placeholder="Enter ...">
                        </textarea>
                        <p style="color:red"><span>{{ errors[0] }}</span></p>
                        </ValidationProvider>
                    </div>
              
                
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
              </form>
              </ValidationObserver>
            </div>
            <!-- /.card -->
            </div>
        
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
  </div>
</template>
<script>
import {Form} from "vform"
import axios from "axios"
export default {
    data(){
      return{
         categories: {},
         SubCategoryform: new Form({
            subcategory_name:'',
            category_id:'',
            description:'',
        }),
        errors:[],
      }
    },
    methods:{         
      async createSubCategory(){
        await this.SubCategoryform.post('http://localhost:8000/api/subcategory')
        .then(() => {          
          this.SubCategoryform.subcategory_name = this.SubCategoryform.category_id = this.SubCategoryform.description = '';
          this.$nextTick(() => this.$refs.createForm.reset()); 
          this.$toast.success({ title:'Success', message:'SubCategory Upload Succesfully'})                             
        })
        .catch(
          console.log("Insert Fail")
        )
      },

      async getCategories(){
        await axios.get('http://localhost:8000/api/category')
        .then((response) => {
          this.categories = response.data
        })
        .catch({

        })
       
      },

   },
   created() {
     this.getCategories()
   },
}
</script>
<style>

</style>