<template>
 <div v-if="$route.meta.hideNavigation">
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <router-link to="/" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </router-link>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
             Category
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/category" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Category Add</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/allcategory" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Category list</p>
                </router-link>
              </li>
            
            </ul>
          </li>
           <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                SubCategory
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/subcategory" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                   <p>SubCategory Add</p>
              </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/Allsubcategory" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                   <p>All SubCategory list</p>
                </router-link>
              </li>
            
            </ul>
          </li>
            <li class="nav-item has-treeview menu-open">
            <router-link to="/totalnumber" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
               total number
                <i class="right fas fa-angle-left"></i>
              </p>
            </router-link>
          </li>
           <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                 Product
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/product" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Product Add</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/allproduct" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Product list</p>
                </router-link>
              </li>
            
            </ul>
          </li>
           <li class="nav-item has-treeview menu-open">
            <router-link to="multiplefile" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                 Multiple file Upload
                <i class="right fas fa-angle-left"></i>
              </p>
            </router-link>
           
          </li>
             <li class="nav-item has-treeview menu-open">
            <router-link to="allmultiplefile" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                All input file 
                <i class="right fas fa-angle-left"></i>
              </p>
            </router-link>
           
          </li>
              
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
 </div>
</template>
<script>
export default {

}
</script>
<style>
</style>