<template>
 <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
         
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All Category</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>id</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(product, index) in products" :key="index">
                    <td>{{ product.id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td><img :src="'http://localhost:8000/'+ product.product_image" style="width:80px;"/></td>
                    <td> 
                        <button class="btn btn-info">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              </div>
            <!-- /.card -->
             </div>
          <!-- /.col -->
           </div>
        <!-- /.row -->
        </div>
      <!-- /.container-fluid -->
    </section>
</template>
<script>
import axios from 'axios'
export default {
    data(){
        return {
           products:{},
        }
    },
    methods:{
        productLoad(){
            axios.get(`http://127.0.0.1:8000/api/product`)
                .then(response => {
                console.log(response)
                this.products = response.data;
            });
        }
    },
    mounted() {
       this.productLoad();
   
    }, 
}
</script>
<style>
</style>