<template>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6 offset-3">
         
            <div class="card card-primary">
               <div class="card-header">
                    <h3 class="card-title">Product Add</h3>
                </div>
              <!-- /.card-header -->
              <!-- form start -->
            <form  @submit.prevent="fileUpload"  enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group">
                     <label for="product">Product Name</label>
                    <input type="text" 
                        v-model="product_name"
                        class="form-control" id="product"
                        placeholder="Product Name">
                    </div>
                    <div class="form-group">
                    <label for="image">File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file"
                            v-on:change="onImageChange"
                            class="form-control"  
                            id="image" >  
                       </div>
                      <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div>
                    </div>
                  </div>   
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
     
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            product_name: '',
            product_image:'',
        }
    },
    methods:{
        onImageChange(e){
            console.log(e.target.files[0]);
            this.product_image = e.target.files[0];
        },
        fileUpload(e){
            e.preventDefault();            
            let currentObj = this;
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }
            let formData = new FormData();
            formData.append('product_image', this.product_image);
            formData.append('product_name', this.product_name);
            axios.post(' http://127.0.0.1:8000/api/product',formData,config)
            .then(function (response) {
                currentObj.success = response.data.success;
                    this.$toast.success({
                      title:'Succss',
                      message:'product Upload Succesfully'
                    })
            })
            .catch(function (error) {
                currentObj.output = error;
            });
        }
    }
}
</script>
<style>
</style>