<template>
  <div>
      <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Total Number</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-2">
                      <div class="form-group">
                        <label for="english">English</label>
                       <input v-model.number="english" @input="totalSum" type="text" class="form-control english">
                      </div>  
                  </div>
                  <div class="col-2">
                       <div class="form-group">
                          <label for="math">Math</label>
                          <input v-model.number="math" @input="totalSum" type="text" class="form-control math">
                       </div>   
                  </div>
                  <div class="col-2">
                      <div class="form-group">
                        <label for="bangla">Bangla</label>
                       <input v-model.number="bangla" @input="totalSum" type="text" class="form-control bangla">
                      </div>    
                  </div>
                  <div class="col-2">
                      <div class="form-group">
                        <label for="chemistry">chemistry</label>
                        <input v-model.number="chemistry" @input="totalSum" type="text" class="form-control chemistry">
                      </div>       
                  </div>
                   <div class="col-2">
                   <div class="form-group">
                     <label for="total">Total Number</label>
                      <input type="text" id="result" v-model="totalVal" class="form-control">
                   </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
  </div>
</template>
<script>
export default {
    data(){
        return {
          english   :'',
          math      :'',
          bangla    :'',
          chemistry :'',
          totalVal  :''
        }         
     },
    methods: {
        totalSum(){
          if (this.english >= 101 ){ 
            this.english 
            alert("English field value greater than 100 & value is=",this.english);
            
          }
          if (this.math >= 101 ){ 
            alert("Math field value greater than 100 & value is = ", this.math);
          
          }
          if (this.bangla >= 101 ){ 
            alert("Bangla field value greater than 100 & value is = ", this.bangla);
           
          }
          if (this.chemistry >= 101 ){ 
            alert("Chemistry field value greater than 100 & value is = ", this.chemistry);
          }

          this.totalVal = (this.english + this.math + this.bangla + this.chemistry);
        }
    },
   
}

</script>
<style>
</style>