<template>
<div class="login-box col-lg-6 offset-3">
  <div class="login-logo">
    <a href="../../index2.html"><b>User</b>LOGIN</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form  @submit.prevent="createLogin()">
        <div class="input-group mb-3">
         
          <input type="email"
           v-model="form.email"
           class="form-control" 
           placeholder="Email">

          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">

          <input type="password"
           v-model="form.password" 
          class="form-control"
           placeholder="Password">

          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
                <router-link to="/register" class="btn btn-primary btn-block">Register a new membership</router-link>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <!-- /.social-auth-links -->

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</template>
<script>
import config from '../../config'
//import {Form} from 'vform'
 export default {
     data(){
       return {
           form : {
               email:'',
               password:'',
           },
           error:'',
       }
     },
     methods: {
          async createLogin(){ 
           //await this.loginform.post(' http://127.0.0.1:8000/api/login')
            await config.postData('/login', this.form)
              .then((response)=>{
                // console.log(response.token);
                localStorage.setItem('token', response.token)
              })
              
              this.$router.push('/'); 
           }
          
     },
      mounted() {
            const token = localStorage.getItem('token');
            if(token != null){
                this.$router.push('/')
            }
        },

 }
</script>